---
import { Image } from 'astro:assets'
import localFooterHomeLogo from '../assets/images/footer-home.jpeg'
---

<header class="flex justify-between items-center px-24 py-12 max-sm:px-5 max-sm:py10 max-w-7xl w-full mx-auto">
    
    <a href="/" class="flex items-center gap-x-4">
        <Image 
            src={localFooterHomeLogo}
            alt="internal logo"
            height={60}
            width={60}
        />
    </a>

</header>